<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svnlan.home.dao.IoSourceEventDao" >

    <insert id="insert" >
        insert into io_source_event (sourceID, sourceParent,userID,  type, desc, createTime)
        values (
            #{sourceID}, #{sourceParent}, #{userID}, #{type}, #{desc}, unix_timestamp(now())
            )
    </insert>
    <insert id="batchInsert" >
        insert into io_source_event (sourceID, sourceParent,userID,  type, desc, createTime)
        values
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{item.sourceID}, #{item.sourceParent}, #{item.userID}, #{item.type}, #{item.desc}, unix_timestamp(now())
            )
        </foreach>
    </insert>

    <select id="getSourceEventBySourceID" resultType="com.svnlan.home.vo.IoSourceEventVo">
        select 0 isChildren,se.id, se.sourceID, se.sourceParent,se.userID,  se.type, se.desc, se.createTime
        , u.avatar, CASE WHEN u.nickname is null or u.nickname = '' THEN u.name else u.nickname end  nickname, u.sex,u.status, s.isFolder, s.name
        from io_source_event se
        inner JOIN io_source s ON se.sourceID = s.sourceID
        left join users u on se.userID = u.userID and u.status in (0,1)
        where se.sourceID = #{sourceID}

        <if test="isFolder = 1">
            union all
            select 1 isChildren,se.id, se.sourceID, se.sourceParent,se.userID,  se.type, se.desc, se.createTime
            , u.avatar, CASE WHEN u.nickname is null or u.nickname = '' THEN u.name else u.nickname end  nickname, u.sex,u.status, s.isFolder, s.name
            from io_source_event se
            inner JOIN io_source s ON se.sourceID = s.sourceID
            left join users u on se.userID = u.userID and u.status in (0,1)
            where se.sourceParent = #{sourceID}
        </if>
        order by createTime desc, id desc
    </select>

    <select id="queryVideoFileOperateCount" resultType="com.alibaba.fastjson.JSONObject">
        SELECT DATE(FROM_UNIXTIME(e.createTime)) date, COUNT(1) count
        from io_source_event e
        INNER JOIN io_source s ON e.sourceID = s.sourceID
        WHERE e.createTime &gt;= #{timeRange.first}
        AND e.createTime &lt;= #{timeRange.second}
        AND s.type = 4
        GROUP BY date
        ORDER BY date
    </select>
</mapper>