<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svnlan.home.dao.IoSourceRecycleDao" >

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  >
        insert into io_source_recycle (targetType, targetID,sourceID, userID, parentLevel, createTime)
        values
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{targetType}, #{targetID}, #{sourceID}, #{userID}, #{parentLevel}, unix_timestamp(now())
            )
        </foreach>
    </insert>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id"   >
        insert into io_source_recycle (targetType, targetID,sourceID, userID, parentLevel, createTime)
        values
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{item.targetType}, #{item.targetID}, #{item.sourceID}, #{item.userID}, #{item.parentLevel}, unix_timestamp(now())
            )
        </foreach>
    </insert>

    <delete id="deleteUserRecycle">
        delete from io_source_recycle
        where userID = #{userID} and targetType = #{targetType}
        and sourceID in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getUserRecycleBinList" resultType="com.svnlan.home.dto.SourceOpDto">
        select DISTINCT io.name, io.parentID, io.parentLevel, io.sourceID, (case when io.isFolder = 1 THEN 'folder' ELSE 'file' end ) type
        from io_source_recycle uf
        inner join io_source io  on io.sourceID = uf.sourceID
        where uf.userID = #{userID}
        and io.isDelete = 1
    </select>
</mapper>