<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svnlan.user.dao.RoleDao" >

    <sql id="Base_Column_List">
		r.roleID, r.role_name roleName, r.description, r.label, r.auth, r.enable, r.is_system isSystem, r.administrator, r.ignoreFileSize, r.sort, r.role_type roleType,r.modifyTime
	</sql>

    <insert id="insert"  useGeneratedKeys="true" keyProperty="roleID" >
        INSERT INTO role ( role_name, code, description, label, auth, createTime, modifyTime, deleteTime, status, enable
        , is_system, administrator, ignoreFileSize, ignoreExt, sort, role_type)
        VALUES
    ( #{roleName}, #{code}, IFNULL(#{description}, ''), IFNULL(#{label}, ''), IFNULL(#{auth}, ''), unix_timestamp(now()), unix_timestamp(now()), unix_timestamp(now()), #{status}
    , #{enable}, IFNULL(#{isSystem}, 0), IFNULL(#{administrator}, 0), #{ignoreFileSize}, IFNULL(#{ignoreExt}, ''), #{sort}, #{roleType}
    );

    </insert>
    <update id="update" >
        update role
        set role_name = #{roleName},
        description = #{description},
        label = #{label},
        auth = #{auth},
        enable = #{enable},
        ignoreFileSize = #{ignoreFileSize},
         modifyTime = unix_timestamp(now())
        where roleID = #{roleID}
    </update>

    <select id="getRoleList" resultType="com.svnlan.user.domain.Role">
        select
        <include refid="Base_Column_List"/>
        from role r
        where r.status = 1
        and r.role_type = #{roleType}
        <if test="enable != null ">and r.enable = #{enable}</if>
        order by r.sort asc
    </select>
    <update id="updateRoleState" parameterType="com.svnlan.user.dto.RoleDTO">
        update role
        set status = #{status}, modifyTime = unix_timestamp(now())
        where roleID = #{roleID} and is_system = 0 and role_type = #{roleType}
    </update>

    <select id="getMaxRoleSort" resultType="java.lang.Integer">
        select sort
        from role r
        where r.status = 1
        and r.role_type = #{roleType}
        order BY sort desc, createTime desc
        limit 1
    </select>

    <update id="updateRoleSort" >
        update role
        <trim prefix="set" suffixOverrides=",">
            <trim prefix=" sort = case " suffix=" end, ">
                <foreach collection="list" item="item">
                    <if test="item.sort != null">
                        when roleID = #{item.roleID} then #{item.sort}
                    </if>
                </foreach>
            </trim>
        </trim>
        where role_type = #{roleType}
        and roleID in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.roleID}
        </foreach>
    </update>

    <select id="getSystemRoleInfo" resultType="com.svnlan.user.domain.Role">
        select
        <include refid="Base_Column_List"/>
        from role r
        where r.administrator = 1 and r.is_system = 1 limit 1
    </select>
    <select id="getNameByIds" resultType="com.alibaba.fastjson.JSONObject">
        SELECT roleID roleId, role_name name
        FROM role WHERE
        roleID IN
        <foreach collection="roleIds" item="_id" open="(" separator="," close=")">
            #{_id}
        </foreach>
    </select>


</mapper>