<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svnlan.user.dao.UserFavDao" >

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  >
        insert into user_fav (userID, tagID,name, path, type, sort, modifyTime, createTime)
        values (
            #{userID}, #{tagID}, #{name}, #{path}, #{type}, #{sort}, unix_timestamp(now()), unix_timestamp(now())
            )
    </insert>
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id"   >
        insert into user_fav (userID, tagID,name, path, type, sort, modifyTime, createTime)
        values
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{item.userID}, #{item.tagID}, #{item.name}, #{item.path}, #{item.type}, #{item.sort}, unix_timestamp(now()), unix_timestamp(now())
            )
        </foreach>
    </insert>

    <select id="getFavMaxSort" resultType="java.lang.Integer">
        select sort
        from user_fav
        where userID = #{userID}
        and tagID = 0 and type = 'source'
        order BY sort desc
        limit 1
    </select>

    <delete id="removeUserFav">
        delete from user_fav
        where userID = #{userID} and tagID = 0 and type = 'source' and path in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <delete id="removeUserFavByIdList">
        delete from user_fav
        where userID = #{userID} and tagID = 0 and  id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="checkIsFav" resultType="java.lang.String">
        select path
        from user_fav
        where tagID = 0 and type = 'source'
        and path in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="checkIsFavByUserId" resultType="java.lang.String">
        select path
        from user_fav
        where tagID = 0 and type = 'source'
        and userID = #{userID}
    </select>

    <delete id="removeFileTag">
        delete from user_fav
        where tagID = #{tagID} and type = 'source'
        and path in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getFileTagByUserId" resultType="com.svnlan.home.vo.UserFavVo">
        SELECT cl.label_id labelId, cl.label_name labelName, cl.style, GROUP_CONCAT(uf.path) files
        from common_label cl
        LEFT JOIN user_fav uf ON cl.label_id = uf.tagID
        WHERE cl.userID = #{userID} and cl.status = 1 and cl.tagType = 1 and uf.type = 'source'
        GROUP BY cl.label_id
        ORDER BY cl.sort asc, cl.createTime asc
    </select>

    <select id="getFileTagBySourceID" resultMap="userFavResultMap">
        SELECT uf.userID, uf.path, uf.tagID, c.label_name , c.style
        from user_fav uf
        LEFT JOIN common_label c ON uf.tagID = c.label_id
        WHERE uf.userID = #{userID} and uf.tagID > 0 and uf.type = 'source'
        and uf.path  in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <resultMap id="userFavResultMap" type="com.svnlan.home.vo.UserFavVo" >
        <id column="path" property="path" />
        <result column="userID" property="userID"/>
        <collection ofType="com.svnlan.home.vo.CommonLabelVo" property="favList">
            <id column="tagID" property="tagID"/>
            <result column="userID" property="userID" />
            <result column="label_name" property="labelName" />
            <result column="style" property="style" />
        </collection>
    </resultMap>
    <delete id="removeUserTag">
        delete from user_fav
        where tagID = #{tagID} and userID = #{userID} and type = 'source'
    </delete>

    <update id="addSortAll">
        update user_fav
        set sort = sort + 1
        where userID = #{userID} and tagID = 0 and type = 'source'
    </update>
    <update id="subtractSortAll">
        update user_fav
        set sort = sort - 1
        where userID = #{userID} and tagID = 0 and type = 'source' and sort > 0
    </update>
    <update id="updateFavSort">
        update user_fav
        set sort = #{sort}
        where userID = #{userID} and tagID = 0 and type = 'source' and path = #{path}
    </update>

    <select id="getTagMaxSort" resultType="java.lang.Integer">
        select sort
        from user_fav
        where userID = #{userID}
        and tagID > 0 and type = 'source'
        order BY sort desc
        limit 1
    </select>

    <update id="addTagSortAll">
        update user_fav
        set sort = sort + 1
        where userID = #{userID} and tagID > 0 and type = 'source'
    </update>
    <update id="subtractTagSortAll">
        update user_fav
        set sort = sort - 1
        where userID = #{userID} and tagID > 0 and type = 'source' and sort > 0
    </update>
    <update id="updateTagSort">
        update user_fav
        set sort = #{sort}
        where userID = #{userID} and tagID > 0 and type = 'source' and path = #{path}
    </update>
    <update id="updateFavName">
        update user_fav
        set name = #{name}
        where id = #{id}
    </update>
    <select id="getFavNameList" resultType="java.lang.String">
        select name
        from user_fav
        where userID = #{userID}
        and tagID = 0 and type = 'source'
    </select>
    <delete id="removeInfoTag">
        delete from user_fav
        where tagID = #{tagID} and userID = 0 and type = 'info'
    </delete>
    <delete id="removeInfoTagByID">
        delete from user_fav
        where path = #{path} and userID = 0 and type = 'info'
    </delete>
    <select id="geTagListByInfoID" resultType="com.svnlan.home.vo.CommonLabelVo">
        SELECT   uf.tagID, c.label_name labelName , c.style
        from user_fav uf
        LEFT JOIN common_label c ON uf.tagID = c.label_id
        WHERE uf.userID = 0 and uf.type = 'info'
        and uf.path = #{path}
    </select>
    <select id="selectFavorSourceId" resultType="com.alibaba.fastjson.JSONObject">
        SELECT CAST(path AS SIGNED) sourceId, `name`
        FROM user_fav
        WHERE userID = #{userId}
        AND tagID = 0
        AND type = 'source'
        <if test="name != null and name != ''">
            AND `name` = #{name}
        </if>
    </select>

</mapper>