<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[嘘]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[发烧]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[100分]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[睡着了]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鼻涕]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哇塞]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[思考]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鼓掌]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐舌]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[眼镜]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[冷]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[口水]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[恶心]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[宽慰]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[白眼]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哭泣]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疲惫]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[赞]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[喜欢]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[加油]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[咒骂]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[迷惑]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[墨镜]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[牛仔]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[沮丧]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[聚会]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[拜托]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[虚弱]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[口罩]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[小丑]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[受伤]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[强壮]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[说谎]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[笑哭]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[担忧]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鬼脸]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[好吃]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哈欠]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕眩]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吐了]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[俏皮]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[脸红]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[热]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[恳求]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[爱你]</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[生气]</string>
	</dict>
</array>
</plist>
