<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>App uploads</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>FilesBox需要获取相机权限，用来拍照、扫码等</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FilesBox需要获取相册权限，用来保存图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FilesBox需要获取相册权限，用来人名片上传头像/照片、写跟进上传图片、编辑客户资料上传头像/照片、发布资讯/短视频/海报/产品/案例上传图片/视频/封面、发布画册等</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FilesBox需要获取麦克风权限，用来收录您的声音</string>
</dict>
</plist>
