<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.svnlan.home.dao.CommonScheduleDao">
    <resultMap id="BaseResultMap" type="com.svnlan.home.domain.CommonSchedule">
        <id column="common_schedule_id" jdbcType="VARCHAR" property="commonScheduleId"/>
        <result column="schedule_name" jdbcType="VARCHAR" property="scheduleName"/>
        <result column="gmt_modified" jdbcType="DATE" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
    common_schedule_id, schedule_name, gmt_modified
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from common_schedule
        where common_schedule_id = #{commonScheduleId,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.svnlan.home.domain.CommonSchedule">
    insert into common_schedule (common_schedule_id, schedule_name, gmt_modified, frequency
      )
    values (#{commonScheduleId,jdbcType=VARCHAR}, #{scheduleName,jdbcType=VARCHAR}
    , #{gmtModified,jdbcType=DATE} ,#{frequency} )
  </insert>
    <insert id="insertSelective" parameterType="com.svnlan.home.domain.CommonSchedule">
        insert into common_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commonScheduleId != null">
                common_schedule_id,
            </if>
            <if test="scheduleName != null">
                schedule_name,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commonScheduleId != null">
                #{commonScheduleId,jdbcType=VARCHAR},
            </if>
            <if test="scheduleName != null">
                #{scheduleName,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.svnlan.home.domain.CommonSchedule">
        update common_schedule
        <set>
            <if test="scheduleName != null">
                schedule_name = #{scheduleName,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=DATE},
            </if>
        </set>
        where common_schedule_id = #{commonScheduleId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.svnlan.home.domain.CommonSchedule">

    update common_schedule
    set schedule_name = #{scheduleName,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=DATE}
    where common_schedule_id = #{commonScheduleId,jdbcType=VARCHAR}
  </update>
    <update id="updateOperateTime">
        update common_schedule set gmt_modified=now() where common_schedule_id=#{commonScheduleId} and gmt_modified &lt;=date_add(now(),interval -frequency second)
    </update>

    <select id="getCountById" resultType="int">
        SELECT count(1)
        from common_schedule
        WHERE common_schedule_id = #{commonScheduleId}
        AND gmt_modified = #{gmtModified}
    </select>


    <select id="getCountByDay" resultType="int">
        select count(1)
        from common_schedule
        WHERE common_schedule_id = #{commonScheduleId}
        AND DATE_FORMAT(gmt_modified, '%Y-%m-%d') = DATE_FORMAT(#{gmtModified}, '%Y-%m-%d')
    </select>
    <select id="findCommonScheduleByLogScheduleId" resultMap="BaseResultMap">
        SELECT cs.common_schedule_id, cs.schedule_name
        FROM common_schedule cs
        JOIN log_schedule ls ON (cs.common_schedule_id = ls.common_schedule_id)
        WHERE ls.log_schedule_id = #{logScheduleId}
    </select>

</mapper>