<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svnlan.home.dao.IoSourceAuthDao" >

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into io_source_auth (sourceID, `targetType`,`targetID`,  `authID`, `authDefine`, createTime, modifyTime)
        values (
            #{sourceID}, #{targetType}, #{targetID}, #{authID}, #{authDefine}, unix_timestamp(now()), unix_timestamp(now())
            )
    </insert>
    <insert id="batchInsert" >
        insert into io_source_auth (sourceID, `targetType`,`targetID`,  `authID`, `authDefine`, createTime, modifyTime)
        values
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{item.sourceID}, #{item.targetType}, #{item.targetID}, #{item.authID}, #{item.authDefine}, unix_timestamp(now()), unix_timestamp(now())
            )
        </foreach>
    </insert>

    <delete id="deleteSourceAuth">
        delete from io_source_auth where sourceID = #{sourceID}
    </delete>

    <select id="getSourceAuthBySourceID" resultType="com.svnlan.home.vo.IoSourceAuthVo">
        SELECT isa.id, isa.sourceID,isa.targetType,isa.targetID,isa.authID,isa.authDefine, g.`name` nickname, g.parentID, g.parentLevel
        FROM io_source_auth isa
        JOIN `group` g ON isa.targetID = g.groupID and g.`status` = 1
        WHERE isa.sourceID = #{sourceID} and isa.targetType = 2

        union all

        SELECT isa.id, isa.sourceID,isa.targetType,isa.targetID,isa.authID,isa.authDefine
        ,  CASE WHEN g.nickname is null or g.nickname = '' THEN g.`name` else g.nickname end  nickname
        , 0 parentID, '' parentLevel
        FROM io_source_auth isa
        left JOIN `user` g ON isa.targetID = g.userID and g.`status` = 1
        WHERE isa.sourceID = #{sourceID} and isa.targetType = 1
    </select>

    <select id="getGroupNameListByGID" resultType="com.svnlan.home.vo.IoSourceAuthVo">
        select g.groupID targetID , g.`name` parentGroupName
        from `group` g
        where g.status = 1
        and g.`groupID` in
        <foreach collection="list" item="groupID" open="(" close=")" separator=",">
            #{groupID}
        </foreach>
    </select>


    <select id="getSourceAuthBySourceIDList" resultType="com.svnlan.home.vo.IoSourceAuthVo">
        SELECT isa.id, isa.sourceID,isa.targetType,isa.targetID,isa.authID,isa.authDefine, g.`name` nickname, g.parentID, g.parentLevel
        , r.role_name authName, r.label, r.auth
        FROM io_source_auth isa
        JOIN `group` g ON isa.targetID = g.groupID and g.`status` = 1
        left JOIN `role` r ON isa.authID = r.roleID and role_type = '2'
        WHERE isa.sourceID in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
         and isa.targetType = 2

        union all

        SELECT isa.id, isa.sourceID,isa.targetType,isa.targetID,isa.authID,isa.authDefine
        ,  CASE WHEN g.nickname is null or g.nickname = '' THEN g.`name` else g.nickname end  nickname
        , 0 parentID, '' parentLevel
        , r.role_name authName, r.label, r.auth
        FROM io_source_auth isa
        left JOIN `user` g ON isa.targetID = g.userID and g.`status` = 1
        left JOIN `role` r ON isa.authID = r.roleID and role_type = '2'
        WHERE isa.sourceID in
        <foreach collection="list" item="sourceID" open="(" close=")" separator=",">
            #{sourceID}
        </foreach>
         and isa.targetType = 1
    </select>
</mapper>
