<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svnlan.user.dao.UserGroupDao" >


    <select id="getUserGroupInfoList" resultType="com.svnlan.user.vo.UserGroupVo">
        SELECT ug.userID, ug.groupID, g.`name`, g.parentID, g.parentLevel, ug.authID, r.`code`, r.role_name authName, r.auth, GROUP_CONCAT(gm.`key`,':',gm.`value` SEPARATOR '__') groupAuth
        , r.is_system isSystem, r.administrator, r.label
        FROM user_group ug
        left JOIN `role` r ON ug.authID = r.roleID and role_type = '2'
        JOIN `group` g ON ug.groupID = g.groupID and g.status in (0,1)
        JOIN `group_meta` gm ON ug.groupID = gm.groupID
        where ug.userID in
        <foreach collection="list" item="item" separator=", " open="(" close=")">
            #{item}
        </foreach>
        GROUP BY ug.userID, ug.groupID
    </select>
    <select id="getUserGroupInfoListByParam" resultType="com.svnlan.user.vo.UserGroupVo">
        SELECT ug.userID, ug.groupID, g.`name`, g.parentID, g.parentLevel, ug.authID, r.`code`, r.role_name authName, r.auth, GROUP_CONCAT(gm.`key`,':',gm.`value` SEPARATOR '__') groupAuth
        , r.is_system isSystem, r.administrator, r.label
        FROM user_group ug
        left JOIN `role` r ON ug.authID = r.roleID and role_type = '2'
        JOIN `group` g ON ug.groupID = g.groupID and g.status in (0,1)
        JOIN `group_meta` gm ON ug.groupID = gm.groupID
        where ug.userID in
        <foreach collection="list" item="item" separator=", " open="(" close=")">
            #{item}
        </foreach>
        <if test="keyword != null and keyword !='' ">
            and  (g.`name` LIKE CONCAT('%', #{keyword}, '%') OR gm.`value` LIKE CONCAT('%',#{keyword}, '%') )
        </if>
        GROUP BY ug.userID, ug.groupID
    </select>
    <delete id="delByUserID">
        delete from user_group where userID = #{userID}
    </delete>
    <delete id="delByGroupID">
        delete from user_group where groupID = #{groupID}
    </delete>
    <insert id="batchInsert" >
        insert into user_group (userID, groupID, authID,sort, createTime, modifyTime)
        values
        <foreach collection="list" index="index" item="item" open="" separator="," close="">
            (
            #{item.userID}, #{item.groupID}, #{item.authID},#{item.sort}
            , unix_timestamp(now()), unix_timestamp(now())
            )
        </foreach>
    </insert>

    <select id="getGroupNameListByUserIds" resultType="com.svnlan.user.vo.UserGroupVo">
        SELECT ug.userID, GROUP_CONCAT(g.`name`) groupName
        FROM user_group ug
        JOIN `group` g ON ug.groupID = g.groupID and g.status = 1
        where ug.userID in
        <foreach collection="list" item="item" separator=", " open="(" close=")">
            #{item}
        </foreach>
        GROUP BY ug.userID, ug.groupID
    </select>

    <select id="getMyGroupIDList" resultType="java.lang.Long">
        SELECT ug.groupID FROM user_group ug where ug.userID = #{userID}
    </select>
</mapper>